body {
  font-family: Lucida Grande;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 2rem 0;
  font-size: 15pt;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 2rem 0;
}

img {
  margin: 0 10px 0 40px;
  width: 6vw;
  height: 6vw;
}

li {
  margin-bottom: 20px;
  list-style: none;
}

#li-campuses,
#li-students {
  display: flex;
}

.li-compact {
  margin-bottom: 7px;
  list-style: disc;
}

label {
  width: 100px;
  text-align: left;
  display: inline-block;
}

input,
select {
  width: 200px;
  margin-bottom: 10px;
}

.form-button {
  margin-top: 10px;
}
