body {
  font-family: Lucida Grande;
  color: #091e42;
}

#nav {
  display: flex;
  justify-content: flex-start;
  margin-top: 5vh;
  font-size: 16pt;
  font-weight: bold;
}

#nav-anchor {
  margin: 0 3vw 0 15vw;
}

.nav-item {
  margin: 0 3vw 0 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem 0 2rem 0;
}

#campuses-panel-l {
  flex: 1;
  margin: 0 0 0 20%;
}

#campuses-panel-r {
  flex: 1;
  margin: 0 5% 0 5%;
}

#campus-panel-l {
  flex: 1;
  margin: 0 0 0 20%;
}

#campus-panel-r {
  flex: 1;
  margin: 0 12% 0 10%;
}

#students-panel-l {
  flex: 1;
  margin: 0 0 0 20%;
}

#students-panel-r {
  flex: 1;
  margin: 0 0 0 0;
}

img {
  margin: 0 20px 0 0;
  width: 7vw;
  height: 7vw;
}

li {
  margin-top: 25px;
  list-style: none;
}

#li-campuses,
#li-students {
  display: flex;
}

.li-compact {
  margin: 10px;
  list-style: circle;
}

label {
  width: 100px;
  text-align: left;
  display: inline-block;
}

input {
  width: 200px;
  margin-bottom: 10px;
}

select {
  width: 208px;
  height: 23px;
  margin-bottom: 10px;
}

.form-button {
  margin: 10px 0 0 17.5vw;
}

.form-button2a {
  margin: 10px 0 0 15vw;
}

.form-button2b {
  margin: 10px 0 0 10px;
}

.enrollee-fl {
  float: left;
}

.enrollee-fr {
  float: right;
}
