body {
  font-family: Lucida Grande;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 2rem 0;
  font-size: 15pt;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 2rem 0;
}

#campuses-panel-l {
  flex: 1;
  margin: 0 0 0 20%;
}

#campuses-panel-r {
  flex: 1;
  margin: 0 10% 0 0;
}

#campus-panel-l {
  flex: 1;
  margin: 0 0 0 20%;
}

#campus-panel-r {
  flex: 1;
  margin: 0 20% 0 0;
}

#students-panel-l {
  flex: 1;
  margin: 0 0 0 20%;
}

#students-panel-r {
  flex: 1;
  margin: 0 10% 0 0;
}

img {
  margin: 0 20px 0 0;
  width: 7vw;
  height: 7vw;
}

li {
  margin-top: 25px;
  list-style: none;
}

#li-campuses,
#li-students {
  display: flex;
}

.li-compact {
  margin: 10px;
  list-style: disc;
}

label {
  width: 100px;
  text-align: left;
  display: inline-block;
}

input {
  width: 200px;
  margin-bottom: 10px;
}

select {
  width: 208px;
  height: 23px;
  margin-bottom: 10px;
}

.form-button {
  margin: 10px 0 0 250px;
}

.enrollee-fl {
  float: left;
}

.enrollee-fr {
  float: right;
}
